@import url('https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Fjalla+One|Barlow+Semi+Condensed');

* {
  box-sizing: border-box; 
}

body {
  font-family: 'Bebas Neue', cursive;
}


.navbar {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  height: 10px;
}


/* ---------------------------- */
/*  HOME PAGE                   */
/* ---------------------------- */

#home-page {
  font-family: 'Bebas Neue', cursive;
  color: white;
  height: 100vh;
  background-position: center;
  background-image: url('https://i.pinimg.com/originals/18/92/17/18921735a859b696c412f59c8ce5e220.jpg');
  background-size: cover;
  position: relative;
  #titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    font-size: 5.6rem;
    margin-top: 15px;
    letter-spacing: 0.1rem;
    margin-right: 600px;
  }
  h2 {
    font-size: 2.2rem;
    margin-right: 600px;
  }
  #search {
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    font-size: 1.1rem;
    margin-right: 600px;
  }
}

/* ---------------------------- */
/*  Country Page            */
/* ---------------------------- */

#country-title {
  text-transform: capitalize;
}

/* ---------------------------- */
/*  Single Spot Page            */
/* ---------------------------- */

#description {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
}

/* ---------------------------- */
/*  Rating Styles               */
/* ---------------------------- */

.ratingImg {
  object-fit: cover;
  object-position: 0px;
  background-size: 100%;
  width: 0%;
  height: 52px;

}

.imgDiv {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  margin: -50px 0px;
}


/* ---------------------------- */
/*  Profile page               */
/* ---------------------------- */


.favTitle {
  margin-top: 50px;
  margin-bottom: 20px;
}

.username {
  margin-top: 40px;
  font-size: 50px;
}

.grey {
  background: rgb(65, 63, 63);
  color: white;
  padding: 25px;
  margin-bottom: 50px;
  margin-top: 30px;
}

.profileImg {
  width: 35%;
  margin-bottom: 5px;
}

.profileInput {
  width: 200px;
  margin-right: 5px;
}

.picture {
  background-color: rgb(65, 63, 63);
  // background-image: url('https://s3.envato.com/files/239168698/light_blue_wood_background_18721.jpg');
  background-repeat: no-repeat;
  background-size: 100%;
  width: 60%;
  padding: 70px 0px 30px 0;
}

.uploadText {
  margin-top: 30px;
  font-size: 23px;
  color: white;
}

.picButton {
  font-family:  'Bebas Neue', sans-serif;
}