@import url('https://fonts.googleapis.com/css?family=Anton|Bebas+Neue|Fjalla+One|Barlow+Semi+Condensed');

* {
  box-sizing: border-box; 
}

body {
  font-family: 'Bebas Neue', cursive;
}


.navbar {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  height: 10px;
}


/* ---------------------------- */
/*  HOME PAGE                   */
/* ---------------------------- */

#home-page {
  font-family: 'Bebas Neue', cursive;
  color: white;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  #titles {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  h1 {
    font-size: 5.6rem;
    margin-top: 15px;
    letter-spacing: 0.1rem;
    margin-right: 600px;
  }
  h2 {
    font-size: 2.2rem;
    margin-right: 600px;
  }
  #search {
    margin-top: 15px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid white;
    font-size: 1.1rem;
    margin-right: 600px;
  }
}

/* ---------------------------- */
/*  Country Page            */
/* ---------------------------- */

#country-title {
  text-transform: capitalize;
  font-size: 3rem;
  color: white;
}

#dropdowns {
  display: flex;
  justify-content: flex-start;
}

.filters {
  margin: 0 10px;
}

#spots-overview {
  margin: 10px 30px;
}

.card {
  width: 380px;
  height: auto;
  margin: 10px 0px;
}


/* ---------------------------- */
/*  Single Spot Page            */
/* ---------------------------- */

#description {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 1rem;
}


/* ---------------------------- */
/*  Single Spot Page            */
/* ---------------------------- */

#single-spot {
  height: 100%;
  background-position: center;
  background-image: url('https://images.unsplash.com/photo-1561074043-1b204dad0418?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1275&q=80');
  background-size: cover;
  position: relative;
  .container {
    background-color: white;
    padding: 20px 20px 40px 20px;
    margin: 40px;
  }
  .main-column {
   padding: 20px;
  //  p {
  //   padding: 0px 10px;
  //  }
  #description {
    margin-bottom: 25px;
  }
}
#image-column {
  display: flex; 
  justify-content: center;
  align-items: center;
}
  #spot-image{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 500px;
    height: 350px;
  }

  .rating-button {
    margin: 2px;
    width: 10px;
  }
  .favourite {
    width: 200px;
    margin: 5px 2px;
  }
  #rating-box {
    display: flex;
    font-size: 20px;
    justify-content: space-around;
    
    #current-rating, #client-rating {
      width: 50%;
      padding: 5px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
    }
    #client-rating {
      align-items: center;
    }
  }
  #section-2 {
    margin-top: 70px;
    padding: 40px 20px;
    #surf-map-column {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

}

/* ---------------------------- */
/*  Forecast Charts              */
/* ---------------------------- */

#forecast-charts{
  margin: 25px 0px;
  .column { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 1px;
  }
  p {
    font-size: 15px;
    margin: 5px 0px;
  }
  .progress-bar {
    width: 75px;
    height: 75px;
    margin: 0px auto;
  }
}



/* ---------------------------- */
/*  Rating Styles               */
/* ---------------------------- */

#waves {
  display: flex;
  // margin-top: 5px;
}
.ratingImg {
  object-fit: cover;
  object-position: 0px;
  background-size: 100%;
  width: 0%;
  opacity: 0.8;
  height: 52px;

}

.imgDiv {
  border-radius: 30px;
  width: 50px;
  height: 50px;
  // margin: -50px 0px;
}


/* ---------------------------- */
/*  Profile page               */
/* ---------------------------- */


.favTitle {
  margin-top: 50px;
}

.username {
  margin-top: 40px;
}

.grey {
  background: lightgrey;
  padding: 25px;
  margin-left: 13px;
  margin-bottom: 40px;
}